<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_menu_mylocation"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_mylocation"
        android:supportsRtl="true"
        android:theme="@style/Theme.GirfalcoDriverApp"
        tools:targetApi="31">
        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen" />
        <!-- Route Details Activity -->
        <activity
            android:name=".RouteDetailsActivity"
            android:exported="true"
            android:label="Route Details"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen"
            android:windowSoftInputMode="adjustResize" />
        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity (Login Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen" />
        
        <!-- Main Activity (Login Screen) -->
        <!-- Main Activity (Login Screen) is declared below with launcher intent-filter -->
        
        <!-- User Profile Activity -->
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:label="User Profile"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen">
        </activity>
        
        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:label="Forgot Password"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen" />

        <!-- Change Password Activity -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:label="Change Password"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen" />

        <!-- Route History Activity -->
        <activity
            android:name=".RouteHistoryActivity"
            android:exported="true"
            android:label="Route History"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen">
        </activity>

        <!-- Password Updated Activity -->
        <activity
            android:name=".PasswordUpdatedActivity"
            android:exported="true"
            android:label="Password Updated"
            android:theme="@style/Theme.GirfalcoDriverApp.FullScreen" />

    </application>

</manifest>